<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Lokendra</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"
          media="print" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="../static/css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
    <link href="../static/css/mdb.min.css?ver=1.2.1" rel="stylesheet">
    <link href="../static/css/aos.css?ver=1.2.1" rel="stylesheet">
    <link href="../static/css/main.css?ver=1.2.1" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body class="bg-light" id="top">
<header class="d-print-none">
    <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix">
            <h1 class="site-title mb-0">Lokendra Singh Chouhan</h1>
            <div class="site-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="#about" title="About"><span class="menu-title">About</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#skills" title="Skills"><span class="menu-title">Skills</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#experience" title="Experience"><span
                                class="menu-title">Experience</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#education" title="Education"><span
                                class="menu-title">Education</span></a>
                        </li>
                        <!--                        <li class="nav-item"><a class="nav-link" href="#portfolio" title="Portfolio"><span-->
                        <!--                                class="menu-title">Portfolio</span></a>-->
                        <!--                        </li>-->
                        <!--                        <li class="nav-item"><a class="nav-link" href="#references" title="References"><span-->
                        <!--                                class="menu-title">References</span></a>-->
                        <!--                        </li>-->
                        <li class="nav-item"><a class="nav-link" href="#contact" title="Contact"><span
                                class="menu-title">Contact</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    <div class="container">
        <div class="resume-container">
            <div class="shadow-1-strong bg-white my-5" id="intro">
                <div class="bg-info text-white">
                    <div class="cover bg-image"><img src="../static/images/header-background.jpg"/>
                        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
                            <div class="text-center p-5">
                                <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong"
                                                             src="../static/images/avatar.jpg" width="160"
                                                             height="160"/></div>
                                <div class="header-bio mt-3">
                                    <div data-aos="zoom-in" data-aos-delay="0">
                                        <h2 class="h1">Lokendra Singh Chouhan</h2>
                                        <p>Software Developer, DevSecOps and SDET</p>
                                    </div>
                                    <div class="header-social mb-3 d-print-none" data-aos="zoom-in"
                                         data-aos-delay="200">
                                        <nav role="navigation">
                                            <ul class="nav justify-content-center">
                                                <li class="nav-item"><a class="nav-link"
                                                                        href="https://twitter.com/L0kendra26"
                                                                        title="Twitter"><i
                                                        class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link"
                                                                        href="https://www.facebook.com/lokendra.s.chouhan.5"
                                                                        title="Facebook"><i class="fab fa-facebook"></i><span
                                                        class="menu-title sr-only">Facebook</span></a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link"
                                                                        href="https://www.instagram.com/lokendra.s.26/"
                                                                        title="Instagram"><i
                                                        class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link"
                                                                        href="https://www.linkedin.com/in/lokendra91/"
                                                                        title="Linkedin"><i class="fab fa-linkedin"></i><span
                                                        class="menu-title sr-only">Linkedin</span></a>
                                                </li>
                                                <li class="nav-item"><a class="nav-link"
                                                                        href="https://github.com/lokendra9009"
                                                                        title="Github"><i
                                                        class="fab fa-github"></i><span class="menu-title sr-only">Github</span></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="d-print-none"><a
                                            class="btn btn-outline-light btn-lg shadow-sm mt-1 me-3"
                                            href="{{ url_for('static',filename='lokendra-resume.pdf',_external=True) }}"
                                            data-aos="fade-right" data-aos-delay="700">Download
                                        CV</a><a class="btn btn-info btn-lg shadow-sm mt-1" href="#contact"
                                                 data-aos="fade-left" data-aos-delay="700">Hire Me</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-1-strong bg-white my-5 p-5" id="about">
                <div class="about-section">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="h2 fw-light mb-4">About Me</h2>
                            <p>Hello! I’m Lokendra Singh Chouhan. I am passionate about Python, Backend development and
                                DevSecOps.I am a skilled <strong>Software Development Engineer</strong> and love both -
                                making and breaking the software. I am a quick learner and a team worker that gets the
                                job done.</p>
                            <p>I can easily capitalize on low hanging fruits and quickly maximize timely deliverables
                                for real-time schemas.</p>
                        </div>
                        <div class="col-md-5 offset-lg-1">
                            <div class="row mt-2">
                                <h2 class="h2 fw-light mb-4">Bio</h2>
                                <div class="col-sm-5">
                                    <div class="pb-2 fw-bolder"><i class="far fa-calendar-alt pe-2 text-muted"
                                                                   style="width:24px;opacity:0.85;"></i> Age
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="pb-2">29</div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="pb-2 fw-bolder"><i class="far fa-envelope pe-2 text-muted"
                                                                   style="width:24px;opacity:0.85;"></i> Email
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="pb-2">lokendra91@gmail.com</div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="pb-2 fw-bolder"><i class="fab fa-skype pe-2 text-muted"
                                                                   style="width:24px;opacity:0.85;"></i> Skype
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="pb-2">lokendra9009</div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="pb-2 fw-bolder"><i class="fas fa-phone pe-2 text-muted"
                                                                   style="width:24px;opacity:0.85;"></i> Phone
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="pb-2">+91 95-5252-8557</div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="pb-2 fw-bolder"><i class="fas fa-map-marker-alt pe-2 text-muted"
                                                                   style="width:24px;opacity:0.85;"></i> Address
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="pb-2">Pune, MH, India</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-1-strong bg-white my-5 p-5" id="skills">
                <div class="skills-section">
                    <h2 class="h2 fw-light mb-4">Professional Skills</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3"><span class="fw-bolder">Python</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="100" data-aos-anchor=".skills-section" style="width: 85%;"
                                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">Test Automation</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="200" data-aos-anchor=".skills-section" style="width: 85%"
                                         aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">DevSecOps</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 75%"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">Java</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-info" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="300" data-aos-anchor=".skills-section" style="width: 50%"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Beginner
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3"><span class="fw-bolder">CI/CD</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">Data Structure and Algorithms</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="400" data-aos-anchor=".skills-section" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">Object Oriented Programming</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="500" data-aos-anchor=".skills-section" style="width: 80%"
                                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">Advanced
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3"><span class="fw-bolder">Penetration Testing</span>
                                <div class="progress my-2 rounded" style="height: 20px">
                                    <div class="progress-bar bg-secondary" role="progressbar" data-aos="zoom-in-right"
                                         data-aos-delay="600" data-aos-anchor=".skills-section" style="width: 50%"
                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Intermediate
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-1-strong bg-white my-5 p-5" id="experience">
                <div class="work-experience-section">
                    <h2 class="h2 fw-light mb-4">Work Experience</h2>
                    <div class="timeline">
                        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="0">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Member Of Technical Staff-3 DevSecOps <span class="text-muted h6">at Nutanix</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">Feb, 2021 - Present</div>
                                <div>Develop, maintain and integrate tools and scanners for achieving DevSecOps pipeline
                                    thus helping in secure software development lifecycle.<br> Developing, testing and
                                    integration of restful APIs, build and maintain CI and CD pipelines.
                                </div>
                            </div>
                        </div>
                        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="200">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Senior Security Automation Engineer <span class="text-muted h6">at Nuance Communications</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">July, 2020 - Feb, 2021</div>
                                <div>Performed active and passive scans using Burp Suite and ZAP for application under
                                    test.<br>
                                    Automated ZAP passive scan for the application under test.<br>
                                    Automated dependency checks in order to ship more secure application with third
                                    party dependencies.<br>
                                    Designed roadmap for "DevSecOps" for the application.<br>
                                    Performed OWASP Top 10 security testing of web applications.<br>
                                    Discovered security flaws like broken access control, brute force attack and
                                    improper DMARC record vulnerability.<br>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Senior QA Engineer <span
                                        class="text-muted h6">at Nuance Communications</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">Mar, 2017 - Jul, 2020</div>
                                <div>Building BDD Test Automation Framework using Cucumber Python and Java.<br>
                                    Maintenance and Expansion of automated test cases in automation framework.<br>
                                    Evaluation of various test automation framework.<br>
                                    Doubled the test cases count keeping the execution time almost same.<br>
                                    Continuous Integration of Test Framework using Jenkins.<br>
                                    Written automated scripts for Image Comparison and Audio Comparison that saved 19
                                    man hours per month.<br>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Graduate Test Engineer <span class="text-muted h6">at Imagination Technologies</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">Sep, 2015 - Mar, 2017</div>
                                <div>Execution of Unit Test, Benchmark Performance Test, Stability Tests, SDK, MDK
                                    tests
                                    for GPU Driver.<br>
                                    Graphics Driver Testing on Linux Platform for both x86 & x64 on Null and XORG
                                    Windowing system.<br>
                                    Compiling & Installing Driver's user & kernel modules on Linux in release, debug &
                                    pdump mode.<br>
                                    Monitoring various logs along with Linux Kernel logs for Hardware recoveries,
                                    Segfaults.<br>
                                    Debugging, Triaging, Defect reporting & management of Severity 1,2 & 3 bugs.<br>
                                    Creation of automation scripts & parsers using python & shell scripts.<br>
                                    Test case preparation & maintenance along with test results reporting.<br>
                                    Setting up Hardware Platforms, Test chips for test on Linux including Creatori20
                                    IoT platform<br>
                                    Version controlling of test scripts using perforce.<br>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-card timeline-card-info" data-aos="fade-in" data-aos-delay="400">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Software Test Engineer <span
                                        class="text-muted h6">at Amdocs, Inc.</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">Jul, 2013 - Jul, 2015</div>
                                <div>Experience in Amdocs CRM, OMS and other retail frontend testing<br>
                                    Experience in automating smoke test flows using Selenium Webdriver<br>
                                    Experience in defect management, handling & triaging multiple severity 1 and
                                    severity 2 defects<br>
                                    Knowledge of report pulling through HP ALM<br>
                                    Designed and Executed Test Cases for various flows and functionalities for End to
                                    End Testing.<br>
                                    Conducted Knowledge Transfer, Training and Mentoring Sessions in the team to provide
                                    clarity of various applications<br>
                                    in the project and also for the new functionality included in the releases.<br>
                                    Interacted with the Clients and Business Analysis Team on day to day basis to ensure
                                    smooth working of testing execution.<br>
                                    Responsible for developing and maintaining an intranet SharePoint site.<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadow-1-strong bg-white my-5 p-5" id="education">
                <div class="education-section">
                    <h2 class="h2 fw-light mb-4">Education</h2>
                    <div class="timeline">
                        <!--                        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">-->
                        <!--                            <div class="timeline-head px-4 pt-3">-->
                        <!--                                <div class="h5">Masters in Information Technology <span class="text-muted h6">from International University</span>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                            <div class="timeline-body px-4 pb-4">-->
                        <!--                                <div class="text-muted text-small mb-3">2011 - 2013</div>-->
                        <!--                                <div>Leverage agile frameworks to provide a robust synopsis for high level overviews.-->
                        <!--                                    Iterative approaches to corporate strategy foster collaborative thinking to further-->
                        <!--                                    the overall value proposition.-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Bachelor of Engineering (Computer Science) <span class="text-muted h6">from Acropolis Institute of Technology and Research (Univ : RGPV)</span>
                                </div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">2009 - 2013</div>
                                <div>Satisfactorily participated in IEEE Xtreme Programming Competition 4.0<br>
                                    Participated & volunteered in Armageddon (National Level Tech fest) in 2012<br>
                                    Successfully completed 80 hours project training for java from HCL CDC, Indore
                                    (Student code : 508RG1008013)<br>
                                    Participated in a workshop based on fundamentals of Robotics and electronics
                                    conducted by technophilia, IIT Kanpur<br>
                                    Participated in a workshop on Information security and Ethical Hacking conducted by
                                    Innobuzz<br>
                                    Participated in Marathon against child sexual abuse
                                </div>
                            </div>
                        </div>
                        <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="400">
                            <div class="timeline-head px-4 pt-3">
                                <div class="h5">Science and Mathematics <span
                                        class="text-muted h6">from Emerald Hights International School</span></div>
                            </div>
                            <div class="timeline-body px-4 pb-4">
                                <div class="text-muted text-small mb-3">1997 - 2009</div>
                                <div>User generated content in real-time will have multiple touchpoints for offshoring.
                                    Organically grow the holistic world view of disruptive innovation via workplace
                                    diversity and empowerment.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="shadow-1-strong bg-white my-5 p-5 d-print-none" id="portfolio">-->
            <!--                <div class="portfolio-section">-->
            <!--                    <h2 class="h2 fw-light mb-4">Portfolio</h2>-->
            <!--                    <div class="row g-0">-->
            <!--                        <div class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid"-->
            <!--                                                                                                   src="../static/images/project-1.jpg"-->
            <!--                                                                                                   width="800"-->
            <!--                                                                                                   height="500"/></a>-->
            <!--                        </div>-->
            <!--                        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">-->
            <!--                            <div class="m-4 mt-md-2">-->
            <!--                                <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>-->
            <!--                                <h3>Photo Agency Website</h3>-->
            <!--                                <p class="text-muted">Built highly performant website front end for a Photography-->
            <!--                                    agency. Delivered codebase in HTML, CSS and modern JavaScript.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="row g-0 portfolio-reverse">-->
            <!--                        <div class="col-md-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">-->
            <!--                            <div class="m-4 mt-md-2 text-end">-->
            <!--                                <p class="text-teal text-small">Graphic Design / Photoshop / Sketch</p>-->
            <!--                                <h3>Restaurant Website Design</h3>-->
            <!--                                <p class="text-muted">Web design for popular resturant chain involving complex layouts-->
            <!--                                    done in both Photoshop and Sketch. Collaborated with back-end and front-end team for-->
            <!--                                    finished product.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-md-6"><a href="https://www.behance.net/" target="_blank"><img class="img-fluid"-->
            <!--                                                                                                      src="../static/images/project-2.jpg"-->
            <!--                                                                                                      width="800"-->
            <!--                                                                                                      height="500"/></a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                    <div class="row g-0">-->
            <!--                        <div class="col-md-6"><a href="https://dribbble.com/" target="_blank"><img class="img-fluid"-->
            <!--                                                                                                   src="../static/images/project-3.jpg"-->
            <!--                                                                                                   width="800"-->
            <!--                                                                                                   height="500"/></a>-->
            <!--                        </div>-->
            <!--                        <div class="col-md-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">-->
            <!--                            <div class="m-4 mt-md-2">-->
            <!--                                <p class="text-teal text-small">Frontend / HTML / CSS / JavaScript</p>-->
            <!--                                <h3>E-Commerce Website</h3>-->
            <!--                                <p class="text-muted">Built highly performant website for an E-commerce Portal. Worked-->
            <!--                                    with back-end team to timely deliver codebase in HTML, CSS and modern-->
            <!--                                    JavaScript.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="shadow-1-strong bg-white my-5 p-5" id="references">-->
            <!--                <div class="reference-section">-->
            <!--                    <h2 class="h2 fw-light mb-4">References</h2>-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-md-6">-->
            <!--                            <div class="d-flex mb-2">-->
            <!--                                <div class="avatar"><img src="../static/images/reference-image-1.jpg" width="60"-->
            <!--                                                         height="60"/>-->
            <!--                                </div>-->
            <!--                                <div class="header-bio m-3 mb-0">-->
            <!--                                    <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">Aiyana</h3>-->
            <!--                                    <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">CEO / Web-->
            <!--                                        Design Company</p>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="d-flex"><i class="text-secondary fas fa-quote-left"></i>-->
            <!--                                <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">Walter displays exemplary-->
            <!--                                    professionalism and is able to take on challenges. He learns quickly and is an asset-->
            <!--                                    to any team.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                        <div class="col-md-6">-->
            <!--                            <div class="d-flex mb-2">-->
            <!--                                <div class="avatar"><img src="../static/images/reference-image-2.jpg" width="60"-->
            <!--                                                         height="60"/>-->
            <!--                                </div>-->
            <!--                                <div class="header-bio m-3 mb-0">-->
            <!--                                    <h3 class="h6 mb-1" data-aos="fade-left" data-aos-delay="0">Alexander</h3>-->
            <!--                                    <p class="text-muted text-small" data-aos="fade-left" data-aos-delay="100">Front-end-->
            <!--                                        Developer / Web Design Company</p>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="d-flex"><i class="text-secondary fas fa-quote-left"></i>-->
            <!--                                <p class="lead mx-2" data-aos="fade-left" data-aos-delay="100">Walter is a great-->
            <!--                                    co-worker and problem solver. He is quick to extend his helping hand and makes a-->
            <!--                                    good team player.</p>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
                <div class="contant-section">
                    <h2 class="h2 fw-light text mb-4">Contact</h2>
                    <div class="row mb-4">
                        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
                            <div class="mt-1">
                                <div class="h6"><i class="fas fa-phone pe-2 text-muted"
                                                   style="width:24px;opacity:0.85;"></i> +91955-252-8557
                                </div>
                                <div class="h6"><i class="far fa-envelope pe-2 text-muted"
                                                   style="width:24px;opacity:0.85;"></i> lokendra91@gmail.com
                                </div>
                            </div>
                            <div class="mt-5 d-print-none">
                                <form action="https://formspree.io/f/xwkawvrj"
                                      method="POST">
                                    <div class="form-outline mb-4">
                                        <input type="text" id="name" name="person-name" class="form-control" required/>
                                        <label class="form-label" for="name">Name</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="email" id="email" name="_replyto" class="form-control" required/>
                                        <label class="form-label" for="email">Email address</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <textarea class="form-control" style="resize: none;" id="message" name="message"
                                                  rows="4"
                                                  required></textarea>
                                        <label class="form-label" for="message">Message</label>
                                    </div>
                                    <button class="btn btn-info btn-block mb-4" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-7 d-print-none" data-aos="zoom-in" data-aos-delay="100">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.9675215463194!2d73.94261781411505!3d18.53036977371261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c22e8a2d93d5%3A0x4d834d63d673de57!2sMhasoba%20Nagar%2C%20Keshav%20Nagar%2C%20Mundhwa%2C%20Pune%2C%20Maharashtra%20411036!5e0!3m2!1sen!2sin!4v1628971113971!5m2!1sen!2sin"
                                    width="500" height="400" style="border:0;width:100%;" allowfullscreen=""
                                    loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
    <div class="container">
        <div class="my-3">
            <div class="h4">Lokendra Singh Chouhan</div>
            <div class="footer-nav">
                <nav role="navigation">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a class="nav-link" href="https://twitter.com/templateflip"
                                                title="Twitter"><i class="fab fa-twitter"></i><span
                                class="menu-title sr-only">Twitter</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/templateflip"
                                                title="Facebook"><i class="fab fa-facebook"></i><span
                                class="menu-title sr-only">Facebook</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/templateflip"
                                                title="Instagram"><i class="fab fa-instagram"></i><span
                                class="menu-title sr-only">Instagram</span></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/templateflip"
                                                title="Github"><i class="fab fa-github"></i><span
                                class="menu-title sr-only">Github</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-small">
            <div class="mb-1">&copy; Material Resume. All rights reserved.</div>
            <div>Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
        </div>
    </div>
</footer>
<script src="../static/scripts/mdb.min.js?ver=1.2.1"></script>
<script src="../static/scripts/aos.js?ver=1.2.1"></script>
<script src="../static/scripts/main.js?ver=1.2.1"></script>
</body>
</html>